* { 
    margin: 0;
}

#menu {
    background-color: yellow;
    height: 150px;
    display: flex;
    margin-top: 500px;
    justify-content: space-between;
    align-items: center;
}

.box {
    background-color: green;
    width: 30px;
    height: 30px;
    margin: 40px;

}


#content {
    background-color: aqua;
    width: 400px;
    height: 300px;
    margin-top: -450px;
    margin-left: 20px;
    position: absolute;
    
}

.item-container {
    margin-top: 20px;
    margin-left: 20px;
   }

.item-container2 {
    background-color: brown;
    height: 100px;
    width: 160px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.content2 {
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    
}

